div.content-section.text-section#about-section
	div.padding-section
		h1 About
		div.logo-about
			img(src='images/ico.png', alt='logo')
		div.center-text
			| This application was development as a degree final project. It was developed under the supervision of <strong>Vanessa Munoz Cruz</strong> and <strong>Estefania Hernandez Martin</strong> by <strong>Jorge Sierra Acosta</strong>.<br/><br/>
			| The purpose of this project is to development of a multiplatform application to receive images taken by a near infrared spectroscopy hardware by the group of Neuroimaging and Neurochemistry of the ULL and build an interface in which the user may visualize and process such images.<br /><br />
			| These images represent a bidimensional map of the changes in the oxygenation of brain tissues indicating an increment or decrease of the brain activity in that region relative to the initial reference point. The techniques used in the application may be applied to human or animal brain tissue.<br /><br />
			| Version 1.0<br /><br />
			div.logo-footer
				img(src='images/ull.jpg', alt='ULL')
