div.content-section#home-section
	div.top-content
		div.card-multiple
			include cards/load-card.pug
			include cards/filters-card.pug
		include cards/basal-card.pug
		include cards/sat-card.pug
	div.bottom-content
		include cards/graph-card.pug
