/*
#1F223F
#2C436B
#2A8BB9
#B5DAEE
*/

body, html {
  background: #fff;
	padding: 0;
	margin: 0;
	width: 100%;
  height: 100%;
}

.nav-bar {
	float: left;
	background-color: #ffffff;
	width: 100px;
	height: 100%;
	-webkit-box-shadow:  0px 0px 16px 7px rgba(0,0,0,0.14);
	-moz-box-shadow:  0px 0px 16px 7px rgba(0,0,0,0.14);
	box-shadow:  0px 0px 16px 7px rgba(0,0,0,0.14);
}

.nav-icon {
	color: #b5daee;
  font-size: 32px;
	width: 100%;
	text-align: center;
	margin-top: 40px;
	padding: 0;
}

.nav-icon > i {
	cursor: pointer;
}

.active {
	color: #2c436b;
}

.content {
  overflow-y: hidden;
	display: inline-block;
	width: calc(100% - 100px);
	height: 99%;
}

.content-section {
  width: 100%;
  height: 100%;
}

.top-content {
	width: 100%;
	height: 60%;
	overflow: auto;
}

.bottom-content {
	width: 100%;
	height: 40%;
}

.card-spacer-top {
	height: 2%;
}

.card-title {
  font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 45px;
	padding-left: 10px;
	color: #ffffff;
}

.card-badge {
  font-family: "Avant Garde", "Century Gothic", sans-serif;
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 45px;
	padding-right: 10px;
	color: #ffffff;
}

.card-load {
  display: none;
  background-color: #2A8BB9;
  width: 0%;
  height: 5px;
  margin-top: -5px;
}

.card-top {
  display: flex;
  justify-content: space-between;
	width: 100%;
	height: 45px;
	background-color: #2c436b;
}

.card-content {
	width: 90%;
	height: calc(100% - 20px - 45px);
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card {
	background-color: #ffffff;
	height: 95%;
	width: 95%;
	margin: auto;
  -webkit-box-shadow:
		inset 0px 0px 0px 2px rgba(44, 67, 107, 0.2),
		0px 0px 58px -13px rgba(0,0,0,0.31);
  -moz-box-shadow:
		inset 0px 0px 0px 2px rgba(44, 67, 107, 0.2),
		0px 0px 58px -13px rgba(0,0,0,0.31);
  box-shadow:
		inset 0px 0px 0px 2px rgba(44, 67, 107, 0.2),
		0px 0px 58px -13px rgba(0,0,0,0.31);
}

.logo {
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
}

.card-container {
	float: left;
}

.card-container-load {
	width: 26%;
	height: 100%;
	margin-left: 2%;
}

.card-container-image {
	width: 35%;
	height: 100%;
}

.graph-div {
	width: calc(90% - 2px);
  height: calc(90% - 45px);
	margin-bottom: calc(0.6 * 0.95 * 0.99 * 0.1 * 100vh - 15px);
	margin-top: 15px;
}

.img-canvas {
	border: 1px solid #e1e1e1;
	padding: 0;
  margin: auto;
  display: block;
	width: 100%;
	height: calc(100% - 45px - 20px);
}

.exp-selector {
	width: calc(100% - 10px);
	height: 1.6rem;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	margin-right: 4px;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-big {
	width: 6rem;
}

.btn {
	height: 2rem;
	background-color: #2C436B;
	color: #ffffff;
	border: none;
	margin-bottom: 20px;
	margin-right: 4px;
}

.btn:hover {
	border: 2px solid #B5DAEE;
	cursor: pointer;
}
