body {
  background: #FFF;
}

.navbar {
  height: 50px;
}

.img-canvas {
	border: 1px solid #CCC;
}

.body-div {
	margin: 20px;
	margin-top: 70px;
	height: calc(100% - 50px);
}

.card {
	margin: 20px;
}

.basal-card {
	width: 500px;
}

.basal-card-title {
	/*display: inline;*/
}

.load-card {
	/*background-color: #e0eef9;*/
	width: 350px;
}

.load-card > .card-body {
	padding: 15px;
}

.btn-primary {
	background-color: #2691b9;
}

.file-selector-text {
	font-size: 0.8em;
	overflow-x: hidden;
  white-space: nowrap;
	width: 100%;
	margin-top: 5px;
	padding-left: 5px;
  border: 1px solid #999;
	border-radius: 4px;
	background-color: white;
}

.load-exp-progress {
	margin-top: 10px;
}
