div.card-container.card-container-image
	div.card-top-margin
	div.card
		div.card-top
			div.card-title
				span.card-title-help
					i.icon.ion-md-help-circle
					div.help-box
						| This card displays an image obtained from the calculus of the saturation
						| of oxygen from the HbO and HbR concetration via its light absortion index.
				span SATURATION
			div.card-options
				input.btn.btn-disabled#navigator-prev(type='button', value='PREV')
				input.btn.btn-disabled#navigator-next(type='button', value='NEXT')
				div.opts-separator
				div.number-edit-container
					div.number-edit-box#nav-number(contenteditable='true') 0
					div.number-edit-text#nav-number-max of 0 Fr.
		div.card-content#sat-canvas-container
			div.canvas-spacer#sat-canvas-spacer
			div.image-viewer#sat-viewer
		div.card-load#saturation-progress
