body, html {
  background: #FFF;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Avant Garde", "Century Gothic", sans-serif;
}

h1 {
  color: #1F223F;
  font-size: 4rem;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.options-container .btn {
  background-color: rgba(44, 67, 107, 0.9);
  border-color: rgba(180, 218, 237, 0.9);
}
.options-container .opts-separator {
  background-color: rgba(44, 67, 107, 0.9);
}
.options-container .number-edit-box {
  border-color: rgba(180, 218, 237, 0.9);
}

.card-images-container {
  overflow-y: scroll;
  height: calc(100% - 40px);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-image-info {
  width: 100%;
  height: 20px;
  font-size: 12px;
  text-align: center;
}

.options-container {
  height: 40px;
  width: 100%;
}

.card-image {
  display: table;
  margin: 25px;
  box-shadow: inset 0px 0px 0px 2px rgba(31, 34, 63, 0.2), 0px 0px 58px -13px rgba(0, 0, 0, 0.31);
}

.nav-bar {
  float: left;
  background-color: #ffffff;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.14);
}

.nav-icon {
  color: #B4DAED;
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 0;
  cursor: pointer;
}

.active {
  color: #2C436B;
}

.content {
  overflow-y: hidden;
  display: inline-block;
  width: calc(100% - 100px);
  height: 100%;
}

.content-section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.padding-section {
  padding-left: 40px;
}

.top-content {
  width: 100%;
  height: 52%;
  overflow: auto;
}

.bottom-content {
  width: 100%;
  height: 48%;
}

.card-title {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 38px;
  padding-left: 15px;
  color: #ffffff;
}
.card-title .card-title-text {
  line-height: 1px;
}

.card-title-help {
  display: inline-block;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.card-title-help:hover {
  color: #FFF;
}

.card-badge {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 38px;
  padding-right: 10px;
  color: #ffffff;
}

.card-load {
  display: none;
  background-color: #2B8ABA;
  width: 0%;
  height: 5px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 38px;
  background-color: #2C436B;
}

.card-content {
  width: calc(100% - 20px);
  height: calc(100% - 38px - 20px - 5px);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background-color: #FFF;
  height: calc(100% - 12px);
  width: 100%;
  margin: auto;
  box-shadow: inset 0px 0px 0px 2px rgba(31, 34, 63, 0.2), 0px 0px 58px -13px rgba(0, 0, 0, 0.31);
}

.card-top-margin {
  width: 10px;
  height: 6px;
}

.card-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  margin-right: 20px;
}

.custom-checkbox-checked {
  background-color: #5DA7CC;
}

.custom-checkbox-unchecked {
  background-color: #FFF;
}

.custom-checkbox {
  height: 38px;
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

.custom-checkbox-sq {
  width: 15px;
  height: 15px;
  margin-top: calc(11.5px);
  float: left;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  border: 1px solid #2C436B;
}

.custom-checkbox:hover .custom-checkbox-sq {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.custom-checkbox-label {
  line-height: 38px;
  margin-left: 8px;
  float: left;
}

.center-text {
  text-align: justify;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-about {
  width: 100%;
}
.logo-about img {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-footer {
  width: 100%;
}
.logo-footer img {
  opacity: 0.8;
  width: 140px;
  margin-left: calc(100% - 140px);
  margin-right: 0;
  display: block;
}

.logo {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}

.card-container {
  float: left;
  margin-left: 20px;
  margin-right: 0px;
}

.card-multiple {
  float: left;
  width: 240px;
  height: 100%;
  display: inline-block;
  margin-left: 20px;
}
.card-multiple .card-container {
  margin-left: 0px;
}
.card-multiple .card-container .card {
  height: calc(100% - 6px);
}

.card-container-graph {
  width: calc(100% - 20px * 2);
  height: 100%;
}

.card-container-filter {
  width: 240px;
  height: calc(100% - 120px - 6px);
}

.card-container-load {
  width: 240px;
  height: 120px;
}

.card-container-image {
  width: calc((100% - 20px * 4 - 240px) / 2);
  height: 100%;
}

.graph-container {
  width: 100%;
  height: calc(100% - 38px - 5px);
  padding-right: 15px;
  padding-bottom: 0px;
  padding-top: 20px;
  box-sizing: border-box;
}

.graph-div {
  width: 100%;
  height: 100%;
}

.options-table {
  color: #1F223F;
  font-size: 11px;
  margin-left: 5%;
  width: 90%;
}
.options-table td:nth-child(2) {
  text-align: right;
}
.options-table .number-edit-box {
  float: right;
}
.options-table .custom-checkbox {
  height: auto;
  margin: auto;
}
.options-table .custom-checkbox div {
  margin: 0;
  margin-left: 5px;
  display: inline-block;
}
.options-table .custom-checkbox .custom-checkbox-label {
  line-height: normal;
}

.row-disabled {
  color: rgba(31, 34, 63, 0.3);
}
.row-disabled .custom-checkbox {
  color: #1F223F;
}

.number-edit-container {
  height: 38px;
  float: left;
  font-size: 12.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.number-edit-box {
  width: 55px;
  border: 2px solid rgba(180, 218, 237, 0.5);
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}

.number-edit-text {
  white-space: nowrap;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 38px;
  display: inline-block;
}

.opts-separator {
  float: left;
  height: calc(100% - 10px);
  width: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: calc(15px - 2px);
  margin-left: calc(15px - 2px);
  box-sizing: border-box;
}

.image-viewer {
  width: 100%;
  height: calc(100% - 5px);
  padding: 0;
  margin: auto;
  display: inline-block;
}

.img-canvas {
  width: 100%;
  height: calc(100% - 5px);
  padding: 0;
  margin: auto;
  display: inline-block;
}

.load-text {
  width: calc(100% - 10px);
  height: 1.6rem;
  border: 1px solid rgba(31, 34, 63, 0.2);
  border-radius: 4px;
  margin-right: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn {
  font-size: 10px;
  color: #FFF;
  background: rgba(180, 218, 237, 0.1);
  height: 25px;
  border: 2px solid rgba(180, 218, 237, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 5px;
  float: left;
}

.btn:hover {
  cursor: pointer;
}

.filter-row {
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
}

.filter {
  box-sizing: border-box;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  float: left;
  padding-top: 5px;
  text-align: center;
  font-weight: 600;
  color: rgba(31, 34, 63, 0.5);
  border-bottom: 5px solid #B4DAED;
  cursor: pointer;
}

.filter-active {
  border-bottom: 5px solid #2B8ABA;
  color: #1F223F;
}

.filters-container-parent {
  width: 100%;
  height: calc(100% - 30px - 38px);
  overflow-x: hidden;
}

.filters-container-child {
  width: 400%;
  height: 100%;
}

.filter-content {
  height: 100%;
  width: 25%;
  padding: 6px;
  box-sizing: border-box;
  float: left;
}

.error-text {
  width: 100%;
  color: #d8000c;
  font-size: 0.9rem;
  padding: 5px;
  word-break: break-all;
  text-overflow: clip;
}

.dygraph-roller {
  opacity: 0;
}

.colormap div {
  float: inherit;
  display: inline-block;
  margin-left: 6px;
}

#settings-section div {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
